.BankLogoImg{
  width: 100px;
  padding-left: 80px;
}
.Headercomp{
display: flex;
background-color: brown;
border: 2px solid black;
}
.licomp{
display: flex;
gap: 2rem;
font-size: larger;

}
.listdiv{
  padding-left: 600px;
}